.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 200px) {
  .carousel {
    width:auto;
    height:auto;
  }
}

.carousel {
  width: 100%;
  height: 602px;
  top: 1px;
  margin: auto;
  background-size: cover;
}

.image{
  width:1500px;
  height:600px;
}

/* Custimized CSS */

.top-header-bar {
  background: tomato;
  color: #fff;
}

.header-bar-email,
.header-bar-text {
  padding: 20px 0;
  font-size: 15px;
  line-height: 1;
  text-transform: uppercase;
}

.header-bar-email a,
.header-bar-text span {
  text-transform: lowercase;
  color: #fff;
  text-decoration: none;
}

.header-bar-text {
  margin-left: 48px;
}

.header-bar-text p {
  margin: 0;
}	

.site-navigation ul {
  position: fixed;
  top: 0;
  left: -320px;
  z-index: 9999;
  width: 320px;
  max-width: calc(100% - 120px);
  height: 100%;
  padding: 30px 15px;
  margin: 0;
  background: #fff;
  list-style: none;
  overflow-x: scroll;
  transition: all 0.35s;
}

.site-navigation.show ul {
  left: 0;
}

.site-navigation ul li {
  margin: 0 16px;
}

.site-navigation ul li a {
  display: block;
  padding: 16px 0;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  color: #262626;
  text-decoration: none;
  transition: color .35s;
}

@media screen and (min-width: 992px) {
  .site-navigation ul {
    position: relative;
    top: auto;
    left: 215px;
    width: 100%;
    max-width: 100%;
    height: auto;
    padding: 0;
    overflow: auto;
    background: transparent;
  }

  .site-navigation ul li a {
    padding: 30px 0 30px;
  }
}

.site-navigation ul li a:hover,
.site-navigation ul li.current-menu-item a {
  border-bottom: 3px solid #ff5a00;
  color: #ff5a00;
}

/* Fixed/sticky icon bar (vertically aligned 50% from the top of the screen) */

a {
text-decoration: none;
color: #fff;
}
p > a:hover{
color: #d9d9d9;
text-decoration:  underline;
}
h1,
h2,
h3,
h4,
h5,
h6 {
margin:  1% 0 1% 0;
}
._12 {
font-size: 1.2em;
}
._14 {
font-size: 1.4em;
}
ul {
padding:0;
list-style: none;
}
.footer-social-icons {
width: 261px;
display:block;
margin: 0 auto;
}
.social-icon {
color: white;
}
ul.social-icons {
margin-top: 10px;
margin-left: 50px;
}
.social-icons li {
vertical-align: top;
display: inline;
height: 100px;
}
.social-icons a {
color: white;
text-decoration: none;
}
.fa-facebook {
padding:10px 14px;
-o-transition:.5s;
-ms-transition:.5s;
-moz-transition:.5s;
-webkit-transition:.5s;
transition: .5s;
background-color: #322f30;
}
.fa-facebook:hover {
background-color: #3d5b99;
}
.fa-twitter {
padding:10px 11px;
-o-transition:.5s;
-ms-transition:.5s;
-moz-transition:.5s;
-webkit-transition:.5s;
transition: .5s;
background-color: #322f30;
}
.fa-twitter:hover {
background-color: #00aced;
}
.fa-rss {
padding:10px 12px;
-o-transition:.5s;
-ms-transition:.5s;
-moz-transition:.5s;
-webkit-transition:.5s;
transition: .5s;
background-color: #322f30;
}
.fa-rss:hover {
background-color: #eb8231;
}
.fa-youtube {
padding:10px 11px;
-o-transition:.5s;
-ms-transition:.5s;
-moz-transition:.5s;
-webkit-transition:.5s;
transition: .5s;
background-color: #322f30;
}
.fa-youtube:hover {
background-color: #e64a41;
}
.fa-google-plus-g {
padding:10px 9px;
-o-transition:.5s;
-ms-transition:.5s;
-moz-transition:.5s;
-webkit-transition:.5s;
transition: .5s;
background-color: #322f30;
}
.fa-google-plus-g:hover {
background-color: #e25714;
}

.fa-facebook-f {
  padding:10px 14px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: .5s;
  background-color: #322f30;
  }

  .fa-facebook-f:hover {
  background-color: #3B5998;
  }

/* Footer */
a:link {
color: teal;
}

a:hover {
color: orange;
}

.reserve{
background-color: tomato;
padding: 1em 1.5em;
text-decoration: none;
text-transform: uppercase;
color: white !important;
}

.book{
  background-color: tomato;
  padding: 0.75em 1.5em;
  text-decoration: none;
  text-transform: uppercase;
  color: white !important;
  }

.container {
max-width: 1250px !important;
}

.background{
  background-color: #21d192;
}

.card {
  position: relative;
  display:inline-block;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  width: 20rem;
}

.icon-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

.icon-bar a:hover {
  background-color: #000;
}

.facebook {
  background: #3B5998;
  color: white;
}

.twitter {
  background: #55ACEE;
  color: white;
}

.google {
  background: #dd4b39;
  color: white;
}

.linkedin {
  background: #007bb5;
  color: white;
}

.youtube {
  background: #bb0000;
  color: white;
}

.content {
  margin-left: 75px;
  font-size: 30px;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0px;
}

p {
  line-height: 1.7;
  color: #666666;
  margin: 0px;
}

ul, li {
  margin: 0px;
  list-style-type: none;
}


/*---------------------------------------------*/
input {
  outline: none;
  border: none;
}

textarea {
outline: none;
border: none;
}

textarea:focus, input:focus {
border-color: transparent !important;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder { 
font-family: Poppins-Medium;  
color: #555555;
}
input:-moz-placeholder { 
font-family: Poppins-Medium;  
color: #555555;
}
input::-moz-placeholder { 
font-family: Poppins-Medium;  
color: #555555;
}
input:-ms-input-placeholder { 
font-family: Poppins-Medium;  
color: #555555;
}

textarea::-webkit-input-placeholder { 
font-family: Poppins-Medium;  
color: #555555;
}
textarea:-moz-placeholder { 
font-family: Poppins-Medium;  
color: #555555;
}
textarea::-moz-placeholder { 
font-family: Poppins-Medium;  
color: #555555;
}
textarea:-ms-input-placeholder { 
font-family: Poppins-Medium;  
color: #555555;
}

/*---------------------------------------------*/
button {
  outline: none !important;
  border: none;
  background: transparent;
}

button:hover {
  cursor: pointer;
}

iframe {
  border: none !important;
}


/*---------------------------------------------*/
.container {
  max-width: 1200px;
}




/*//////////////////////////////////////////////////////////////////
[ Contact ]*/

.container-contact100 {
width: 100%;  
min-height: 100vh;
display: -webkit-box;
display: -webkit-flex;
display: -moz-box;
display: -ms-flexbox;
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
padding: 15px;
background: transparent;
position: relative;
z-index: 1;
}

.contact100-map {
position: absolute;
z-index: -2;
width: 100%;
height: 100%;
top: 0;
left: 0;
}

.wrap-contact100 {
width: 1170px;
background: #fff;
border-radius: 10px;
padding: 82px 180px 33px 180px;
position: relative;
display: none;
}

.show-wrap-contact100 {
visibility: visible;
opacity: 1;
}


/*==================================================================
[ Form ]*/

.contact100-form {
width: 100%;
display: -webkit-box;
display: -webkit-flex;
display: -moz-box;
display: -ms-flexbox;
display: flex;
flex-wrap: wrap;
justify-content: space-between;
padding-bottom: 68px;
}

.contact100-form-title {
display: block;
width: 100%;
font-family: Poppins-Bold;
font-size: 39px;
color: #333333;
line-height: 1.2;
text-align: left;
padding-bottom: 44px;
}



/*------------------------------------------------------------------
[ Input ]*/

.wrap-input100 {
width: 100%;
position: relative;
border-bottom: 2px solid #d9d9d9;
padding-bottom: 12px;
margin-bottom: 34px;
}

.rs1-wrap-input100 {
width: calc((100% - 30px) / 2);
}

.label-input100 {
font-family: Poppins-Regular;
font-size: 19px;
color: black;
line-height: 1.5;
padding-left: 5px;
}

.input100 {
display: block;
width: 100%;
background: transparent;
font-family: Poppins-SemiBold;
font-size: 18px;
color: #555555;
line-height: 1.2;
padding: 0 5px;
}

.focus-input100 {
position: absolute;
display: block;
width: 100%;
height: 100%;
top: 0;
left: 0;
pointer-events: none;
}

.focus-input100::before {
content: "";
display: block;
position: absolute;
bottom: -2px;
left: 0;
width: 0;
height: 2px;

-webkit-transition: all 0.4s;
-o-transition: all 0.4s;
-moz-transition: all 0.4s;
transition: all 0.4s;

background: #ff4b5a;
}


/*---------------------------------------------*/
input.input100 {
height: 40px;
}


textarea.input100 {
min-height: 110px;
padding-top: 9px;
padding-bottom: 13px;
}


.input100:focus + .focus-input100::before {
width: 100%;
}

.has-val.input100 + .focus-input100::before {
width: 100%;
}


/*------------------------------------------------------------------
[ Button ]*/
.container-contact100-form-btn {
width: 100%;
display: -webkit-box;
display: -webkit-flex;
display: -moz-box;
display: -ms-flexbox;
display: flex;
flex-wrap: wrap;
margin-top: 0px;
margin-left: 314px;
}

.contact100-form-btn {
display: -webkit-box;
display: -webkit-flex;
display: -moz-box;
display: -ms-flexbox;
display: flex;
justify-content: center;
align-items: center;
padding: 0 20px;
min-width: 160px;
height: 50px;
background-color: #ff4b5a;
border-radius: 25px;

font-family: Poppins-Medium;
font-size: 21px;
color: #fff;
line-height: 1.2;

-webkit-transition: all 0.4s;
-o-transition: all 0.4s;
-moz-transition: all 0.4s;
transition: all 0.4s;

box-shadow: 0 10px 30px 0px rgba(255, 75, 90, 0.5);
-moz-box-shadow: 0 10px 30px 0px rgba(255, 75, 90, 0.5);
-webkit-box-shadow: 0 10px 30px 0px rgba(255, 75, 90, 0.5);
-o-box-shadow: 0 10px 30px 0px rgba(255, 75, 90, 0.5);
-ms-box-shadow: 0 10px 30px 0px rgba(255, 75, 90, 0.5);
}

.contact100-form-btn i {
-webkit-transition: all 0.4s;
-o-transition: all 0.4s;
-moz-transition: all 0.4s;
transition: all 0.4s;
}

.contact100-form-btn:hover {
background-color: #333333;
box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
-moz-box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
-webkit-box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
-o-box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
-ms-box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
}

.contact100-form-btn:hover i {
-webkit-transform: translateX(10px);
-moz-transform: translateX(10px);
-ms-transform: translateX(10px);
-o-transform: translateX(10px);
transform: translateX(10px);
}


/*------------------------------------------------------------------
[ Responsive ]*/

@media (max-width: 992px) {
.wrap-contact100 {
  padding: 82px 80px 33px 80px;
}
}

@media (max-width: 768px) {
.rs1-wrap-input100 {
  width: 100%;
}
}

@media (max-width: 576px) {
.wrap-contact100 {
  padding: 82px 15px 33px 15px;
}
}


/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
position: relative;
}

.alert-validate::before {
content: attr(data-validate);
position: absolute;
max-width: 70%;
background-color: #fff;
border: 1px solid #c80000;
border-radius: 2px;
padding: 4px 25px 4px 10px;
top: 58%;
-webkit-transform: translateY(-50%);
-moz-transform: translateY(-50%);
-ms-transform: translateY(-50%);
-o-transform: translateY(-50%);
transform: translateY(-50%);
right: 2px;
pointer-events: none;

font-family: Poppins-Medium;
color: #c80000;
font-size: 13px;
line-height: 1.4;
text-align: left;

visibility: hidden;
opacity: 0;

-webkit-transition: opacity 0.4s;
-o-transition: opacity 0.4s;
-moz-transition: opacity 0.4s;
transition: opacity 0.4s;
}

.alert-validate::after {
content: "\f06a";
font-family: FontAwesome;
display: block;
position: absolute;
color: #c80000;
font-size: 16px;
top: 58%;
-webkit-transform: translateY(-50%);
-moz-transform: translateY(-50%);
-ms-transform: translateY(-50%);
-o-transform: translateY(-50%);
transform: translateY(-50%);
right: 8px;
}

.alert-validate:hover:before {
visibility: visible;
opacity: 1;
}

@media (max-width: 992px) {
.alert-validate::before {
  visibility: visible;
  opacity: 1;
}
}


/*==================================================================
[ Contact more ]*/

.contact100-more {
font-family: Poppins-Regular;
font-size: 14px;
color: #999999;
line-height: 1.5;
}

.contact100-more-highlight {
color: #ff4b5a;
}

/*==================================================================
[ Button hide form ]*/

.contact100-btn-hide {
color: #333333;
font-size: 14px;

position: absolute;
display: -webkit-box;
display: -webkit-flex;
display: -moz-box;
display: -ms-flexbox;
display: flex;
justify-content: center;
align-items: center;
width: 30px;
height: 30px;
background-color: #fff;
border: 1px solid #ececec;
border-radius: 50%;
top: -15px;
right: -15px;

-webkit-transition: all 0.4s;
-o-transition: all 0.4s;
-moz-transition: all 0.4s;
transition: all 0.4s;
}

.contact100-btn-hide:hover {
background-color: #333333;
color: #fff;
}


/*==================================================================
[ Button show form ]*/

.contact100-btn-show {
color: #fff;
font-size: 39px;

position: fixed;
z-index: -1;
display: -webkit-box;
display: -webkit-flex;
display: -moz-box;
display: -ms-flexbox;
display: flex;
justify-content: center;
align-items: center;
width: 120px;
height: 120px;
border-radius: 50%;
top: 50%;
left: 50%;
-webkit-transform: translate(-50%, -50%);
-moz-transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
-o-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
}

.contact100-btn-show::before {
content: "";
display: block;
position: absolute;
z-index: -2;
width: 100%;
height: 100%;
background-color: #ff4b5a;
border-radius: 50%;

top: 0;
left: 0;

box-shadow: 0 10px 30px 0px rgba(255, 75, 90, 0.5);
-moz-box-shadow: 0 10px 30px 0px rgba(255, 75, 90, 0.5);
-webkit-box-shadow: 0 10px 30px 0px rgba(255, 75, 90, 0.5);
-o-box-shadow: 0 10px 30px 0px rgba(255, 75, 90, 0.5);
-ms-box-shadow: 0 10px 30px 0px rgba(255, 75, 90, 0.5);

-webkit-transition: all 0.4s;
-o-transition: all 0.4s;
-moz-transition: all 0.4s;
transition: all 0.4s;

-webkit-animation: beatbtn 0.9s ease-in-out infinite;
animation: beatbtn 0.9s ease-in-out infinite;
}


@keyframes beatbtn {
0% {
  background-color: rgba(255, 75, 90, 1);
  transform-origin: center;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

50% {
  background-color: rgba(255, 75, 90, 0.8);
  transform-origin: center;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
}

.image-pics {
  height: 350px;
  width: 350px;
  font-size: 25px;
  background: blue;
  margin: 10px;
  display: inline-block;
  line-height: 100px; 
}


.image-container {
  vertical-align: middle;
  display: inline-block;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  width: 85%;
}

.prev, .next {
  padding-top: 10px;
  padding-bottom: 10px;
  height: 100%;
  cursor: pointer;
  color: black;
  transition: 0.6s ease;
}

.next {
  margin-left: 5px;
}

.prev {
  margin-right: 5px;
}

.prev:hover, .next:hover {
  color: white;
  height: 100%;
  background-color: rgba(0,0,0,0.8);
}

.section {
  padding: 25px;
}

.section-paragraph {
  margin-right: 50px;
  margin-left: 50px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.item {
  position: relative;
  width: 450px;
  margin: 10px;
}

.thumb {
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: white;
  opacity: .9;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
}

.item:hover .overlay {
  bottom: 0;
  height: 100%;
}

.blog-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .3s ease;
  background-color: #bafffc;
  border-radius: 5px;
}

.item:hover .blog-overlay {
  height: 100%;
  opacity: 1;
}

.item:hover .thumb {
  width: 100%;
  height: auto;
}

.text {
  white-space: nowrap;
  color: black;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.text a {
  color: #21d192;
  text-decoration: none;
}

#portfolio
	{
		padding-top: 3em;
	}
	
	#portfolio .box
	{
		text-align: center;
		color: rgba(0,0,0,0.7);
	}
	
	#portfolio h3
	{
		display: block;
		padding-bottom: 1em;
		text-transform: uppercase;
		font-size: 1em;
		color: rgba(0,0,0,0.9);
	}

	#portfolio .title
	{
		margin-bottom: 5em;
		text-align: center;
	}

	#portfolio .title h2
	{
		color: rgba(0,0,0,0.8);
	}

	#portfolio .title .byline
	{
		letter-spacing: normal;
		text-transform: capitalize;
		font-size: 1.6em;
		color: rgba(0,0,0,0.6);
	}
	
	#portfolio .icon
	{
		display: inline-block;
    margin-bottom: 1.25em;
    font-size: 2.2em;
		color: tomato;
	}

	.column1,
	.column2,
	.column3,
	.column4
	{
		width: 282px;
	}
	
	.column1,
	.column2,
	.column3
	{
		float: left;
		margin-right: 24px;
	}
	
	.column4
	{
		float: right;
  }
  
  body
	{
		margin: 0px;
		padding: 0px;
		font-family: 'Varela Round', sans-serif;
		font-size: 11pt;
		font-weight: 400;
		color: #000000;
  }
  
  p
	{
		line-height: 180%;
  }
  
  p, ol, ul
	{
		margin-top: 0;
  }
  
  h6{
    padding-bottom: 6px;
  }

  #wrapper3
	{
		overflow: hidden;
		background: #FFF;
  }
  
  a {
    text-decoration: none !important;
}

.contact
{
	background: #ffffff;
	border-bottom: solid 2px #eaf2f7;
}
.contact_content
{
  padding-top: 50px;
  padding-bottom: 60px;
}
.contact_list
{
  margin-top: 25px;
}
.contact_list ul li
{
	font-size: 16px;
	font-weight: 500;
	color: #605d5d;
}
.contact_list ul li:not(:last-of-type)
{
	margin-bottom: 17px;
}
.contact_form_container
{
	margin-top: 73px;
}
.contact_form
{
	display: block;
	position: relative;
}
.input_container
{
	margin-bottom: 5px;
}
.contact_input
{
	width: 100%;
	height: 64px;
	background: #ffffff;
	border: none;
	outline: none;
	border-bottom: solid 2px #393939;
	font-size: 16px;
	font-weight: 500;
	color: #393939;
}
.contact_input::-webkit-input-placeholder
{
	font-size: 15px !important;
	font-weight: 500 !important;
	color: #6d6d6d !important;
}
.contact_input:-moz-placeholder
{
	font-size: 15px !important;
	font-weight: 500 !important;
	color: #6d6d6d !important;
}
.contact_input::-moz-placeholder
{
	font-size: 15px !important;
	font-weight: 500 !important;
	color: #6d6d6d !important;
} 
.contact_input:-ms-input-placeholder
{ 
	font-size: 15px !important;
	font-weight: 500 !important;
	color: #6d6d6d !important;
}
.contact_input::input-placeholder
{
	font-size: 15px !important;
	font-weight: 500 !important;
	color: #6d6d6d !important;
}
.contact_textarea
{
	height: 129px;
	padding-top: 15px;
}
.contact_button
{
	margin-top: 31px;
	width: 152px;
	height: 54px;
	background: #ffa37b;
	border: none;
	outline: none;
	cursor: pointer;
	font-size: 14px;
	font-weight: 600;
	color: #ffffff;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.contact_button:hover
{
	box-shadow: 0px 10px 23px rgba(0,0,0,0.15);
}
.contact_map
{
	width: calc(100% + ((100vw - 1120px) / 2));
	height: 100%;
}
.map
{
	width: 100%;
	height: 100%;
}
.google_map
{
	width: 100%;
	height: 100%;
}
.map_container
{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
#map
{
	width: 100%;
	height: calc(100% + 30px);
}

.send{
  background-color: tomato;
  padding: 1em 1.5em;
  text-decoration: none;
  text-transform: uppercase;
  color: white !important;
  margin-top: 30px;
  }